/* Estilização do corpo da página com fundo de cor */
body {
    font-family: Arial, sans-serif;
    margin: 3%;
    margin-top: 3%;
    padding: 0;
    background-color: #04534f; /* Cor de fundo, você pode alterar para a cor desejada */
    color: hsl(51, 19%, 93%);
}

/* Estilização do cabeçalho */
header {
    text-align: center;
   
    padding: 20px;
}

header h1 {
    font-size: 50px;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    margin-right: 4%;
   

}
 img {
    display: block; 
    margin-left: 10%;
    margin-right: 10%;
}



blockquote {
    font-size: 25px;
    color: #f6f6f7;
   
    border-left: 4px solid #dfdde0;
    padding-left: 10px;
    margin: 20px 0;
}

/* Estilização dos links dentro dos blocos de citação */
blockquote a {
    text-decoration: none;
    color: #f2f0f8;
}


h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    margin-right: 4%;
}

h3{font-size: 40px;
    text-align: center;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    margin-right: 4%;

}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(247, 245, 243, 0.7);
    color: #18108b;
}

